---
title: Blacktown City Council
header: custom
---
extends layouts/_layout
block content
  .customer-project
    .container
      .row.center-xs
        .col-xs-12
          .customer-project__title
            span GOVERNMENT
            h1 Blacktown City Council
        .col-sm-3.col-xs-4
          .customer-project__info
            i.icon.icon-pin
            b Location
            p Western Sydney, Australia
        .col-sm-3.col-xs-4
          .customer-project__info
            i.icon.icon-people
            b Scale
            p 109,000 households
        .col-sm-3.col-xs-4
          .customer-project__info
            img(src="img/blacktown/tel.svg", alt="")
            b Solutions
            p GreenMoney, B informed
    .customer-project__img
      img(src="img/blacktown/customer-project__img.jpg", alt="")
    .container
      .row.center-xs
        .col-sm-8.col-xs-12
          .customer-project__text
            h3 Powering change in Western Sydney
            p Located in Western Sydney, Blacktown City Council is one of the largest local governments in Australia. Since June 2015 Blacktown City has rewarded residents for recycling better and living more sustainably.
            p With one of GreenBe’s largest member database of over 16,000 households, Blacktown City Council continues to grow and expand at the rate of XX% each quarter. 
            p GreenBe’s solutions are used to deliver a holistic waste education and behaviour change program. Integrated with Blacktown City’s waste contractor Cleanaway, the GreenMiney program links waste reduction and improved recycling with the ongoing bin auditing program and Blacktown City’s B informed waste and recycling city service app custom developed by GreenBe. 
            .customer-project__text__img
              img(src="img/blacktown/customer-project__text.png", alt="")
              span Image caption style. Lorem ipsum dolor sit amet.
            h4 Highlight text style. Lorem ipsum dolor sit amet.
            p The GreenMoney incentives help to recruit, along with the Cleanaway recruitment. B informed offers another layer of city services with bin collection reminders, a direct message channel etc.....
    .customer-project__key
      .container
        .row
          .col-xs-12.center-xs
            h2 Key outcomes
          .col-sm-4.col-xs-12
            .customer-project__key__block
              span 2,200+
              b B informed downloads
              p Over XXXX app downloads were recorded within the first 12-months from launch.
          .col-sm-4.col-xs-12
            .customer-project__key__block
              span 16,100+
              b Platform users
              p Over 3 years, 16,000+ residents had created a GreenMony household account. 
          .col-sm-4.col-xs-12
            .customer-project__key__block
              span 27,400+
              b Green actions taken
              p Blacktown residents have collectively taken over 27,000 sustainable challenges. 
          .col-xs-12.center-xs
            a(href="contacts.html").btn.btn-primary Learn more
    .customer-project__government.product-triger
      .container
        .row.center-xs
          .col-xs-12
            h2 How governments use GreenBe 
          .col-sm-8.col-xs-12
            .row.center-xs
              .col-sm-6.col-xs-12.start-sm
                a(href="customer-project.html").home-solutions__block
                  .home-solutions__block__img
                    img(src="img/home/solutions-3.png", alt="")
                  .home-solutions__block__logo
                    img(src="img/home/solutions__logo-3.png", alt="")
                    img(src="img/home/solutions__logo-3.png", alt="")
                  .home-solutions__block__text
                    h3 Motivating Melbourne workers to live and work greener
                    p Australia’s most liveable city is also the most innovative, since 2013 the City of Melbourne…
                    span READ MORE
              .col-sm-6.col-xs-12.start-sm
                a(href="customer-project.html").home-solutions__block
                  .home-solutions__block__img
                    img(src="img/home/solutions-3.png", alt="")
                  .home-solutions__block__logo
                    img(src="img/home/solutions__logo-3.png", alt="")
                  .home-solutions__block__text
                    h3 Motivating Melbourne workers to live and work greener
                    p Australia’s most liveable city is also the most innovative, since 2013 the City of Melbourne…
                    span READ MORE