---
title: Government suite
header: custom
---
extends layouts/_layout
block content
  .feature.government
    .feature__title
      .container
        .row.center-xs
          .col-sm-7.col-xs-12
            h1 Government suite
            p Engage, inspire and connect your citizens with GreenBe’s turn-key customer facing digital toolkit. 
            a(href="contacts.html").btn.btn-primary Learn more
    .feature__app
      .container
        .row.middle-xs
          .col-sm-6.col-xs-12
            .feature__app__img
              img(src="img/government/rewards-list.png", alt="")#feature1
              img(src="img/government/challenge.png", alt="")#feature2
          .col-sm-6.col-xs-12
            h3 Behaviour change app
            p Challenge and reward desired behaviours across your entire city. Rely on GreenBe’s proven team to help you with planning, marketing and onboarding at go-live.
            ul
              li iOS and Android apps
              li Desktop and tablet responsive web portal
              li Digital points and rewards engine
              li Push and email notifications 
              li Customer support centre
            .feature__app__download
              a(href="http://greenmoney.app")
                img(src="img/gm-app.png", alt="")
              .feature__app__download__block
                .feature__app__download__text
                  b GreenMoney for iOS and Android
                .feature__app__download__icon
                  a(href="http://greenmoney.app")
                    i.icon.icon-apple
                  a(href="http://greenmoney.app")
                    i.icon.icon-gp
    .feature__app.feature__app--parallax
      .container
        .row.middle-xs
          .col-sm-6.col-xs-12.last-xs
            h3 City services and waste app
            p Designed and developed in partnership with government, for government. GreenBe’s city services app delivers waste services information, events and notifications, all in the one app. 
            ul
              li Custom branded
              li Push and email notifications
              li Edit and add items and events in real-time 
              li Automated email engagement 
            .feature__app__download
              a(href="#")
                img(src="img/b.png", alt="")
              .feature__app__download__block
                .feature__app__download__text
                  b B informed for iOS and Android
                .feature__app__download__icon
                  a(href="http://binformed.app")
                    i.icon.icon-apple
                  a(href="http://binformed.app")
                    i.icon.icon-gp
          .col-sm-6.col-xs-12.last-sm
            .feature__app__img
              img(src="img/government/b-informed.png", alt="")#feature3
              img(src="img/government/b-informed-email.png", alt="")#feature4
    .feature__text.feature__text-1
      .container
        .row.middle-xs
          .col-sm-6.col-xs-12
            .feature__text__img.img-left
              img(src="img/government/challenge-thumbnail.png", alt="")#feature5
          .col-sm-6.col-xs-12
            h3 Council admin portal
            p Transform your customer experiences and engage at scale while saving on resources and marketing. 
            ul
              li Promote your initiatives with unlimited challenges
              li Track behaviours and actions in real-time
              li CRM/user management
              li Customer insights and reports
              li Data set segmentation
              li Government grade security
              li 24/7 support for your customers
            .feature__text__btn
              img(src="img/home/solutions__logo-3.png", alt="")
              a(href="#pop-video-2" rel="modal:open").btn.btn-primary How it works
                i.icon.icon-play
    .feature__text.feature__text-2
      .container
        .row.middle-xs
          .col-sm-6.col-xs-12.last-xs
            h3 Local Business Centre
            p Boost your local economy and give merchants a free digital promotion channel. GreenBe’s easy-to-use Business Centre is a sophisticated online portal exclusive to your city. 
            ul
              li Self sign up and management
              li Automated digital redemptions system
              li Feature rewards in app, web and email
              li Custom branding available 
            .feature__text__btn
              a(href="https://app.greenmoney.com.au/business/").btn.btn-primary Business Centre
          .col-sm-6.col-xs-12.last-sm
            .feature__text__img.img-right
              img(src="img/government/manage-redemptions.png", alt="")#feature6
    .feature__administrator
      .container
        .row.center-xs
          .col-sm-6.col-xs-12
            h3 Putting the power in your hands
            p Take control of all challenges, incentives and rewards with the Employer administrator portal.
          .col-sm-9.col-xs-12
            .feature__administrator__img
              img(src="img/government/manage-challenges.png", alt="")#feature7
          .col-sm-6.col-xs-12
            a(href="contacts.html").btn.btn-primary Learn more
    .feature__workplaces.product-triger
      .container
        .row
          .col-xs-12
            .feature__workplaces__title
              h3 How workplaces use GreenBe 
          .col-sm-4.col-xs-12
            a(href="customer-project.html").home-solutions__block
              .home-solutions__block__img
                img(src="img/home/solutions-1.png", alt="")
              .home-solutions__block__logo
                img(src="img/home/solutions__logo-1.png", alt="")
              .home-solutions__block__text
                h3 Powering change in Western Sydney
                p With over 16,000 household users, learn how Blacktown City uses GreenBe’s customer solutions to deliver a holistic and integrated…
                span READ MORE
          .col-sm-4.col-xs-12
            a(href="customer-project.html").home-solutions__block
              .home-solutions__block__img
                img(src="img/home/solutions-2.png", alt="")
              .home-solutions__block__logo
                img(src="img/home/solutions__logo-2.png", alt="")
              .home-solutions__block__text
                h3 Demand response application exceeds all expectations
                p GreenBe helped Jemena deliver the Power Changers demand response program… 
                span READ MORE
          .col-sm-4.col-xs-12
            a(href="customer-project.html").home-solutions__block
              .home-solutions__block__img
                img(src="img/home/solutions-3.png", alt="")
              .home-solutions__block__logo
                img(src="img/home/solutions__logo-3.png", alt="")
              .home-solutions__block__text
                h3 Motivating Melbourne workers to live and work greener
                p Australia’s most liveable city is also the most innovative, since 2013 the City of Melbourne…
                span READ MORE
