---
title: Landing
---
extends layouts/_layout
block content
  include ./home/intro
  include ./home/advantages
  include ./home/partners
  include ./home/description
  include ./home/solutions
  include ./home/video