---
title: Pages
header: custom
---
extends layouts/_layout
block content
  .pages
    .container
      h1 Все страницы
      ul
        li
          a(href="index.html") Главная страница
        li
          a(href="customer-solutions.html") Проекты клиентов
        li
          a(href="customer-project.html") Проект
        li
          a(href="contacts.html") Контакты
        li
          a(href="utility.html") Утилиты
        li
          a(href="workplaces.html") Набор рабочих мест
        li
          a(href="government.html") Правительство