---
title: Utility suite
header: custom
---
extends layouts/_layout
block content
  .feature
    .feature__title
      .container
        .row.center-xs
          .col-sm-7.col-xs-12
            h1 Utility suite
            p The only Australian behavioural DRS app. Harness GreenBe’s utilities stack to transform your customer experiences and power behaviours.
            a(href="contacts.html").btn.btn-primary Learn more
    .feature__app
      .container
        .row.middle-xs
          .col-sm-6.col-xs-12
            .feature__app__img
              img(src="img/utility/energy-challenge.png", alt="")#feature1
              img(src="img/utility/track-energy.png", alt="")#feature2
          .col-sm-6.col-xs-12
            h3 Demand response apps
            p GreenBe’s proven demand response apps target customers with challenges and incentives to reduce consumption during peak periods. Purpose-built and fully customisable with your brand.
            ul
              li Desktop and tablet responsive web portal
              li Smart meter live data integration
              li Direct load control messaging
              li Push and email notifications
            .feature__app__download
              .feature__app__download__icon
                a(href="http://greenmoney.app")
                  i.icon.icon-apple
                a(href="http://greenmoney.app")
                  i.icon.icon-gp
              .feature__app__download__text
                b Custom mobile apps 
                span Available for iOS and Android
    .feature__text.feature__text-1
      .container
        .row.middle-xs
          .col-sm-6.col-xs-12.last-xs
            h3 Digital points and rewards engine
            p GreenBe’s digital points and rewards engine leverages game mechanics, allowing you to deploy your very own rewards program and build customer satisfaction and retention.
            ul
              li Align rewards to your desired price signal.
              li Integration with major retail brands
              li Customer reports available in real-time.
              li Rewards store.
          .col-sm-6.col-xs-12.last-sm
            .feature__text__img.img-right
              img(src="img/utility/rewards.png", alt="")#feature5
    .feature__text.feature__text-2
      .container
        .row.middle-xs
          .col-sm-6.col-xs-12
            .feature__text__img.img-left
              img(src="img/utility/challenge-report.png", alt="")#feature6
          .col-sm-6.col-xs-12
            h3 Administration and reporting
            p As the only Australian-based provider of Demand Response apps, all of your data is stored in local Australian data centres. GreenBe’s Utility administration portal will allow you to access customer data fast.
            ul
              li Fast real time customer reporting
              li Track behaviours and knowledge levels
              li Quickly edit and push new DR events
              li Government grade security and privacy
              li Australian-hosted data
    .feature__administrator
      .container
        .row.center-xs
          .col-sm-6.col-xs-12
            h3 Putting the power in your hands
            p Take control of all challenges, incentives and rewards with the Employer administrator portal.
          .col-sm-9.col-xs-12
            .feature__administrator__img
              img(src="img/utility/manage-challenges.png", alt="")#feature7
          .col-sm-6.col-xs-12
            a(href="contacts.html").btn.btn-primary Learn more
    .feature__workplaces.product-triger
      .container
        .row
          .col-xs-12
            .feature__workplaces__title
              h3 How customers use GreenBe 
          .col-sm-4.col-xs-12
            a(href="customer-project.html").home-solutions__block
              .home-solutions__block__img
                img(src="img/home/solutions-1.png", alt="")
              .home-solutions__block__logo
                img(src="img/home/solutions__logo-1.png", alt="")
              .home-solutions__block__text
                h3 Powering change in Western Sydney
                p With over 16,000 household users, learn how Blacktown City uses GreenBe’s customer solutions to deliver a holistic and integrated…
                span READ MORE
          .col-sm-4.col-xs-12
            a(href="customer-project.html").home-solutions__block
              .home-solutions__block__img
                img(src="img/home/solutions-2.png", alt="")
              .home-solutions__block__logo
                img(src="img/home/solutions__logo-2.png", alt="")
              .home-solutions__block__text
                h3 Demand response application exceeds all expectations
                p GreenBe helped Jemena deliver the Power Changers demand response program… 
                span READ MORE
          .col-sm-4.col-xs-12
            a(href="customer-project.html").home-solutions__block
              .home-solutions__block__img
                img(src="img/home/solutions-3.png", alt="")
              .home-solutions__block__logo
                img(src="img/home/solutions__logo-3.png", alt="")
              .home-solutions__block__text
                h3 Motivating Melbourne workers to live and work greener
                p Australia’s most liveable city is also the most innovative, since 2013 the City of Melbourne…
                span READ MORE
