---
title: Workplaces suite
header: custom
---
extends layouts/_layout
block content
  .feature
    .feature__title
      .container
        .row.center-xs
          .col-sm-7.col-xs-12
            h1 Workplace suite
            p Inspire your entire workforce to make positive changes at work. Recognise participation and actions taken with meaningful incentives.
            a(href="contacts.html").btn.btn-primary Learn more
    .feature__app
      .container
        .row.middle-xs
          .col-sm-6.col-xs-12
            .feature__app__img
              img(src="img/workplace/survey-app.png", alt="")#feature1
          .col-sm-6.col-xs-12
            h3 Workplace incentives app
            p Driven by behavioural science, GreenBe’s proven employee engagement and sustainability apps will help you drive change in your organisation.
            ul
              li Desktop and tablet responsive web portal
              li Unlimited challenges and rewards
              li Digital points and rewards engine
              li Admin reporting and anlytics
              li Customer support centre
            .feature__app__download
              .feature__app__download__icon
                a(href="http://greenmoney.app")
                  i.icon.icon-apple
                a(href="http://greenmoney.app")
                  i.icon.icon-gp
              .feature__app__download__text
                b Custom mobile apps 
                span Available for iOS and Android
    .feature__text.feature__text-1
      .container
        .row.middle-xs
          .col-sm-6.col-xs-12.last-xs
            h3 Behavioural analytics
            p Available as real-time reports, see what your workforce is engaged in and where they need to improve.
            ul
              li Export data sets based on performance ratings, office locations, teams and profile demographics.
              li Target hard-to-reach employees 
              li Send employee engagement surveys
              li Quiz knowledge levels to set baselines
              li See how happy your workplace is in an instant
          .col-sm-6.col-xs-12.last-sm
            .feature__text__img.img-right
              img(src="img/workplace/report-survey.png", alt="")#feature5
    .feature__text.feature__text-2
      .container
        .row.middle-xs
          .col-sm-6.col-xs-12
            .feature__text__img.img-left
              img(src="img/workplace/redeem-rewards.png", alt="")#feature6
          .col-sm-6.col-xs-12
            h3 Reward employees
            p Launch your very own rewards store and allow your employees to choose how they’d like to be rewarded.
            ul
              li Integrate with major retail brands
              li Seamless digital delivery
              li In app eVoucher wallet storage
              li Manage budgets and turn rewards on or off by setting redemption limits
              li Redemptions reports for your records
    .feature__administrator
      .container
        .row.center-xs
          .col-sm-6.col-xs-12
            h3 Putting the power in your hands
            p Take control of all challenges, incentives and rewards with the Employer administrator portal.
          .col-sm-9.col-xs-12
            .feature__administrator__img
              img(src="img/workplace/manage-challenges.png", alt="")#feature7
          .col-sm-6.col-xs-12
            a(href="contacts.html").btn.btn-primary Learn more
    .feature__workplaces.product-triger
      .container
        .row
          .col-xs-12
            .feature__workplaces__title
              h3 How workplaces use GreenBe 
          .col-sm-4.col-xs-12
            a(href="customer-project.html").home-solutions__block
              .home-solutions__block__img
                img(src="img/home/solutions-1.png", alt="")
              .home-solutions__block__logo
                img(src="img/home/solutions__logo-1.png", alt="")
              .home-solutions__block__text
                h3 Powering change in Western Sydney
                p With over 16,000 household users, learn how Blacktown City uses GreenBe’s customer solutions to deliver a holistic and integrated…
                span READ MORE
          .col-sm-4.col-xs-12
            a(href="customer-project.html").home-solutions__block
              .home-solutions__block__img
                img(src="img/home/solutions-2.png", alt="")
              .home-solutions__block__logo
                img(src="img/home/solutions__logo-2.png", alt="")
              .home-solutions__block__text
                h3 Demand response application exceeds all expectations
                p GreenBe helped Jemena deliver the Power Changers demand response program… 
                span READ MORE
          .col-sm-4.col-xs-12
            a(href="customer-project.html").home-solutions__block
              .home-solutions__block__img
                img(src="img/home/solutions-3.png", alt="")
              .home-solutions__block__logo
                img(src="img/home/solutions__logo-3.png", alt="")
              .home-solutions__block__text
                h3 Motivating Melbourne workers to live and work greener
                p Australia’s most liveable city is also the most innovative, since 2013 the City of Melbourne…
                span READ MORE
