//BEGIN footer
include ../home/question
footer.footer
  .container
    .row
      .col-xs-12.center-xs
        img(src="img/logo-footer.svg", alt="")
        p Copyright 2018 GreenBe Software. All rights reserved.
//END footer