//BEGIN header
header.header(class=header)
  .container
    .row
      .col-xs-8
        a(href="index.html").header__logo
          img(src="img/logo.svg", alt="")
          img(src="img/logo-scroll.svg", alt="").scroll
      .col-xs-4
        .menu-open.hidden-sm.hidden-md
          span
        nav.hidden-xs
          ul
            li
              a(href="#") Customers
            li
              a(href="#") Solutions
              ul.none
                li
                  a(href="utility.html")
                    img(src="img/electric-plug.png", alt="")
                    span Utilities
                li
                  a(href="government.html")
                    img(src="img/building-capital-government.png", alt="")
                    span Government
                li
                  a(href="workplaces.html")
                    img(src="img/suitcase.png", alt="")
                    span Workplace
            li
              a(href="#") Contact
//END header
