//BEGIN pop-up
.menu
  .menu__content
    .container
      .menu__block
        ul.menu__block__nav
          li
            a(href="#") Customers
          li
            a(href="#") Solutions
            ul.none
              li
                a(href="utility.html") Utilities
              li
                a(href="government.html") Government
              li
                a(href="workplaces.html") Workplace
          li
            a(href="#") Contact
        a(href="#").btn.btn-primary Contact us
.modal.pop-up#pop-video
  iframe(src="https://www.youtube.com/embed/a8dg9afFeO8?ecver=2" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
.modal.pop-up#pop-video-2
  <script src="https://fast.wistia.com/embed/medias/dp5pnao5k2.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_dp5pnao5k2 popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>
//END pop-up