.icon-apple {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-gp {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-people {
  width: 1.42em;
  height: 1em;
  fill: #333;
}
.icon-pin {
  width: 0.84em;
  height: 1em;
  fill: #333;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-tel {
  width: 0.89em;
  height: 1em;
  fill: none;
}
