section.home-advantages
  .home-advantages__block
    .container
      h2 Revolutionise engagement. Change behaviours.
      p GreenBe’s software makes connecting with customers seamless. Our solutions capture valuable data on real-world behaviours, while powering hard-to-reach engagement at scale.
      a(href="workplaces.html").btn.btn-primary View solutions