section.home-description
  .container-two
    .swiper-pagination.swiper-pagination-description
    .swiper-container.swiper-description
      .swiper-wrapper
        .swiper-slide
          .row
            .col-sm-5.col-xs-12.last-xs
              h3 Utility suite
              p With the increasing demands on utilities to future-proof assets and deliver online behavioural demand side management programs, GreenBe provides a quick to market suite of applications to engage and incentivise customers. Customisable and scalable, GreenBe helps to deliver meaningful customer experiences.
              a(href="utility.html").btn.btn-primary-min See more
            .col-sm-7.col-xs-12.last-sm
              .home-description__img
                img(src="img/home/description-slide__1-1.png", alt="")#description
        .swiper-slide
          .row
            .col-sm-5.col-xs-12.last-xs
              h3 Government suite
              p Inspire and incentivise your citizens to change their behaviours with GreenBe’s customer-facing local government platform. Built for a mobile-first world, GreenBe’s interface will help to digitise your customer experience. 
              a(href="government.html").btn.btn-primary-min See more
            .col-sm-7.col-xs-12.flex.last-sm
              .home-description__img
                img(src="img/home/description-slide__2-1.png", alt="")#description1
                img(src="img/home/description-slide__2-2.png", alt="")#description2
        .swiper-slide
          .row
            .col-sm-5.col-xs-12.last-xs
              h3 Workplace suite
              p Driven by behavioural science, GreenBe’s proven employee engagement platform encourages the entire workforce to make positive changes and participate in workplace campaigns. 
              a(href="workplaces.html").btn.btn-primary-min See more
            .col-sm-7.col-xs-12.flex.last-sm
              .home-description__img
                img(src="img/home/description-slide__3-1.png", alt="")#description3
                img(src="img/home/description-slide__3-2.png", alt="")#description4