section.intro
  .container
    .row.center-xs
      .col-sm-9.col-xs-12
        h1 Class-leading web and mobile apps to engage your customers.
        p The customer experience platform trusted by 
          a(href="government.html") government 
          | and 
          a(href="utility.html") utilities 
          | to challenge, incentivise and motivate behaviours at scale.
    a(href="#").btn.btn-secondary View solutions
    .intro__img.hidden-xs
      img(src="img/home/intro__img-1.png", alt="")#scene
    .intro__img.mobile.hidden-sm.hidden-md
      img(src="img/home/intro__img-2.png", alt="")#scene1
      img(src="img/home/intro__img-3.png", alt="")#scene2
