section.home-partners
  .container
    h2 Recognised by
    .row.center-xs
      .col-xs-8
        .home-partners__block
          a(href="#")
            img(src="img/home/wastpac-logo.png", alt="")
          a(href="#")
            img(src="img/home/banksia-logo.png", alt="")
          a(href="#")
            img(src="img/home/blue-star-logo.png", alt="")
          a(href="#")
            img(src="img/home/awards-logo.png", alt="")