section.home-question(class=footer)
  .container
    .row.center-xs
      .col-sm-6.col-xs-12
        h2 Want to know more? 
        p Enter your email address and someone from our team will be in touch to find out how we can help.
        a(href="contacts.html").btn.btn-primary Contact us