section.home-solutions.product-triger
  .container
    h2 Solutions helping organisations succeed
    .row
      .col-sm-4.col-xs-12
        a(href="customer-project.html").home-solutions__block#product1
          .home-solutions__block__img
            img(src="img/home/solutions-1.png", alt="")
          .home-solutions__block__logo
            img(src="img/home/solutions__logo-1.png", alt="")
          .home-solutions__block__text
            h3 Powering change in Western Sydney
            p With over 16,000 household users, learn how Blacktown City uses GreenBe’s customer solutions to deliver a holistic and integrated…
            span READ MORE
      .col-sm-4.col-xs-12
        a(href="customer-project.html").home-solutions__block#product2
          .home-solutions__block__img
            img(src="img/home/solutions-2.png", alt="")
          .home-solutions__block__logo
            img(src="img/home/solutions__logo-2.png", alt="")
          .home-solutions__block__text
            h3 Demand response application exceeds all expectations
            p GreenBe helped Jemena deliver the Power Changers demand response program… 
            span READ MORE
      .col-sm-4.col-xs-12
        a(href="customer-project.html").home-solutions__block#product3
          .home-solutions__block__img
            img(src="img/home/solutions-3.png", alt="")
          .home-solutions__block__logo
            img(src="img/home/solutions__logo-3.png", alt="")
          .home-solutions__block__text
            h3 Motivating Melbourne workers to live and work greener
            p Australia’s most liveable city is also the most innovative, since 2013 the City of Melbourne…
            span READ MORE
      .col-xs-12.center-xs
        a(href="customer-solutions.html").btn.btn-primary See case studies